//$chula: #DE5C8E;
$red: #D2767F ;
$orange: #D28962;

/*
$chula: #BE5877;
$bg: #FFFFFF;
$text: #444444;
$light-text: #606060;
$lighter-accent: #F4F4F4;
$light-accent: #E8E8E8;
$medium-accent: #CCCCCC;
$muted: #999999;
$placeholder: #A7A7A7;
/*/
$chula: #C0818C;
$bg: #20201E;
$text: #CFC7BF;
$light-text: #B5B1AE;
$lighter-accent: #262623;
$light-accent: #30302E;
$medium-accent: #444444;
$muted: #666666;
$placeholder: #555555;
//*/

@mixin unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}