// Colors
$blue:    #4F9AC3;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #be5877;
$red:     #E4656A;
$orange:  #E49658;
$yellow:  #ffc107;
$green:   #8BBB87;
$teal:    #80CBC4;

//*/
$accent-dark:   #d6cfcc;
$accent:        #e9e5e2;
$accent-light:  #f8f6f3;

// Theme Colors
$primary:       $pink;
$secondary:     $accent;
$light:         #fefdfb;
$medium:        #736F6C;
$dark:          #605d5b;
$default:       #555250;
$orange:        $orange;

$muted:         #9B9897;
$placeholder:   #b0adaa;

$yiq-text-dark:   $default;
$yiq-text-light:  $light;

/*/
$accent-dark:   #444444;
$accent:        #30302E;
$accent-light:  #262623;

// Theme Colors
$primary:       #C0818C;
$secondary:     $accent;
$light:         #20201E;
$medium:        #A3A09E;
$dark:          #B5B1AE;
$default:       #CFC7BF;

$muted:         #666666;
$placeholder:   #555555;

$yiq-text-dark:   $light;
$yiq-text-light:  $default;

//*/

// Add theme colors
$theme-colors: (
  "medium":   $medium,
  "default":  $default
);
$theme-colors: map-remove($theme-colors,
  "success", "info", "danger", "warning"
);

$body-bg:       $light;
$body-color:    $default;

//$chula: #DE5C8E;
//$chula:   #be5877;

// Headings
$headings-font-weight:    bold;
$headings-margin-bottom:  0;
$h6-font-size:            1.1rem;

$text-muted:    $muted;

// Borders
$border-radius-sm:  .2rem;
$border-radius:     .25rem;
$border-radius-lg:  .28rem;

// Input & Buttons
$input-btn-border-width:  0;
$input-btn-font-size-sm:  1.2rem;
$input-btn-font-size:     1.3rem;
$input-btn-font-size-lg:  1.4rem;

$input-btn-padding-y:     .25rem;
$input-btn-padding-y-sm:  .1em;
$input-btn-padding-x-sm:  .5em;

// Buttons
$btn-font-weight:       bold;
$btn-transition:        none;
$btn-white-space:       nowrap;
$btn-border-radius-sm:  $border-radius;

// Forms
$label-margin-bottom:     .1em;
$input-font-weight:       bold;
$input-bg:                $accent;
$input-disabled-bg:       $accent-light;
$input-color:             $default;
$input-border-color:      transparent;
$input-border-width:      0;
$input-placeholder-color: $placeholder;
$input-focus-box-shadow:  0 0 0 .2rem $primary;
$input-padding-y-sm:  0;

$input-placeholder-color: $placeholder;

$form-grid-gutter-width:    1em;
$form-group-margin-bottom:  1em;

// Modals
$modal-transition: transform  100ms linear;
$modal-content-border-width:  0;
$modal-header-border-width:   0;
$modal-footer-border-width:   0;

// Dropdowns
$dropdown-bg:           $accent;
$dropdown-border-width: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
);

// Import Bootstrap variables for override
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

@mixin unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin color-primary-white {
  background: $primary;
  color: $white;
}

@mixin logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('https://i.ibb.co/PWZBG5p/logo.png');
}

// Other Variables
$titlebar-height: 80px;
$titlebar-height-scrolled: 60px;
$footer-height: 50px;
$outer-padding: 30px;
$outer-padding-sm: 15px;
$content-height: calc(100vh - #{$titlebar-height} - #{$footer-height});