//$chula: #DE5C8E;
$red: #D2767F ;
$orange: #D28962;

//*
$chula:   #be5877;
$bg:      #fefcfa;

$text:       #555250;
$text-medium:#5F5C5A;
$text-light: #736F6C;
$muted:      #9B9897;
$placeholder:#b0adaa;

$accent-dark:   #d6cfcc;
$accent:        #eae5e2;
$accent-light:  #f8f4f1;
/*/
$chula: #C0818C;
$bg: #20201E;
$text: #CFC7BF;
$light-text: #B5B1AE;
$lighter-accent: #262623;
$light-accent: #30302E;
$medium-accent: #444444;
$muted: #666666;
$placeholder: #555555;
//*/

@mixin unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin color-chula-white {
  background: $chula;
  color: $bg;
}