@font-face {
  font-family: 'CHULALONGKORN';
  src: url('./assets/CHULALONGKORN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CS ChatThai';
  src: url('./assets/CSChatThai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: rgba($primary,.99); /* WebKit/Blink Browsers */
  color: $body-bg;
}
::-moz-selection {
  background: rgba($primary,.99); /* Gecko Browsers */
  color: $body-bg;
}

html {
  font-size: 15px;
  @include media-breakpoint-up(lg) {
    font-size: 17px;
  }
}

#app {
  font-family: 'CHULALONGKORN', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.btn, a.btn {
  @include unselectable;
  &[disabled] {
    cursor: default;
    pointer-events: none;
    //color: $muted;
  }
  &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-transparent:hover {
    background: $accent;
  }
  &.btn-icon {
    padding-top: 0.3em;
    &:hover {
      color: $primary;
      background: $accent;
    }
  }
  &.btn-width-md {
    min-width: 150px;
  }
  &.btn-x {
    z-index: 2;
    padding: 0;
    color: $accent-dark;
    background: transparent;
    height: 30px;
    i { font-size: 0.9rem; }
    &:hover {
      color: $primary;
      background: transparent;
    }
  }
  i.btn-inner-icon {
    margin-top: 0.2em;
    margin-right: 0.2em;
    font-size: 0.8em;
  }
  i.btn-inner-icon-lg {
    font-size: 1em;
    margin-right: 0.3em;
    width: 30px;
  }
  &.scrollactive-active {
    color: $primary;
    background: $accent;
  }
/*   // Used for dropdown buttons
  &.focusable:focus {
    background: $accent;
    color: $primary
  }  
 */
}

a.router-link-active {
  cursor: default;
  pointer-events: none;
  color: $primary;
  background: $accent;
}

input.form-control,
input.custom,
select.form-control,
textarea.form-control,
.vdp-datepicker input.form-control {
  transition: all 150ms ease-in-out;
  /* &[disabled] {
    cursor: not-allowed;
  } */
}

.search-input {
  position: relative;
  i {
    position: absolute;
    pointer-events: none;
    width: 30px;
    height: 25px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 10px;
    font-size: 1.3rem;
  }
  input.form-control {
    padding-left: 45px;
  }
}

select.form-control {
  border: 4px solid $accent;
  cursor: pointer;
  &:focus, &:active {
    border: 4px solid $accent;
  }
}

textarea.form-control {
  line-height: 1.2em;
  padding: 0.5em
}

.vdp-datepicker .input-group {
  position: relative;
  input {
    border-radius: 0.25rem !important;
    background: $accent;
    cursor: pointer;
    &[disabled="disabled"] {
      background: $accent-light;
      cursor: default;
    }
  }
  .append-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 10;
    color: $muted;
    pointer-events: none;
  }
}

.vdp-datepicker__calendar {
  background: $light;
  border-radius: 5px;
  border: 0px solid transparent;
  font-weight: bold;
  color: $default;
  top: 43px;
  box-shadow: 2px 2px 6px 2px $medium;
  span.cell {
    border-radius: 3px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    &.day, &.month, &.year {
      &.selected {
        background: $primary;
        color: $light;
      }
      &:not(.blank):not(.disabled):hover {
        border: 2px solid $primary;
      }
    }
    &.day-header {
      color: $muted;
      font-size: 1rem;
    }
  }
  header span {
    &.prev, &.next, &.day__month_btn, &.month__year_btn {
      border-radius: 3px;
      font-size: 1.4rem;
      &:hover {
        background: $accent !important;
      }
    } 
  }
}

// Get rid of number spinner
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.form-group {
  label {
    font-weight: bold;
    font-size: 1.25em;
    color: $medium;
    line-height: 1.1em;
    i {
      font-size: 14px;
      color: $primary;  
    }
    &.col-form-label {
      text-align: right;
      font-size: 1.3rem;
    }
  }
  &.form-group-sm {
    margin-bottom: 10px;
    &[class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.page {
  position: relative;
  width: 100%;
  padding-top: $titlebar-height;
  padding-left: $outer-padding-sm;
  padding-right: $outer-padding-sm;
  @include media-breakpoint-up(lg) {
    padding-left: $outer-padding;
    padding-right: $outer-padding;
  }
}

.font-chatthai {
  font-family: 'CS ChatThai';
}
.easy-to-read {
  line-height: 1.3em;
}
.nowrap {
  white-space: nowrap;
}
.rotate {
  transform: rotate(180deg);
}
.pointer {
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: $titlebar-height;
}

.border-bottom-pink {
  border-bottom: 2px solid $primary;
}
.border-bottom-lighter {
  border-bottom: 1px solid $accent;
}
.border-top-lighter {
  border-top: 1px solid $accent;
}
.border-bottom-light {
  border-bottom: 2px solid $accent;
}
.border-bottom-medium {
  border-bottom: 2px solid $accent;
}


.max-width-800 {
  max-width: 800px;
}
.max-width-1250 {
  max-width: 1250px;
}
.max-width-1500 {
  max-width: 1500px;
}
.fill-page {
  height: 100vh;
  width: 100vw;
}

.icon-sm {
  font-size: 14px;
}
.icon-md {
  font-size: 20px;
}
.icon-lg {
  font-size: 1.5rem;
  width: 30px;
}
.squeeze-up {
  margin-top: -0.4em;
}
.no-pointer-events {
  pointer-events: none;
}

.subcontainer {
  padding: 1em;
  border-radius: 5px;
  background: $accent-light;
  //border: 1px solid $accent;
}

.sidebar {
  width: 275px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 95px;
  margin-right: 30px;
  transition: width 100ms linear;
  white-space: nowrap;
  overflow: hidden;
  &.folded {
    width: 40px;
  }
  .fold-btn {
    width: 40px;
    i {
      transition: 100ms ease-in-out;
    }
  }
}

.hint {
  width: 25px;
  padding-top: 3px;
  position: absolute;
  right: 0.5em;
  top: 28px;
  cursor: pointer;
  i {
    color: $medium;
    margin-top: 0.45em;
  }
  &:hover {
    .hint-container {
      transform: scale(1);
    }
    i { color: $primary; }
  }
}
.hint-container {
  text-align: left;
  padding: 1em;
  z-index: 1000;
  position: absolute;
  transition: transform 100ms ease-in-out;
  transform: scale(0);
  background: $accent;
  border-radius: 5px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.order-tag {
  &.sm {
    font-size: 1.3rem;
    width: 30px;
    height: 33px;
  }
  font-weight: bold;
  border-radius: 3px;
  color: $light;
  text-align: center;
  @include unselectable;
  &.blue {
    background: $blue
  }
  &.teal {
    background: $cyan;
  }
  &.orange {
    background: $orange;
  }
  &.green {
    background: $green;
  }
  &.red {
    background: $red;
  }
  &.grey {
    background: $medium;
  }
}