@font-face {
  font-family: 'CHULALONGKORN';
  src: url('./assets/CHULALONGKORN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CU';
  src: url('./assets/chulalongkornbold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CU';
  src: url('./assets/chulalongkornreg-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CS ChatThai';
  src: url('./assets/CSChatThai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: rgba($primary, .99); /* WebKit/Blink Browsers */
  color: $body-bg;
}
::-moz-selection {
  background: rgba($primary, .99); /* Gecko Browsers */
  color: $body-bg;
}

html {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
}

#app {
  font-family: 'CHULALONGKORN', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  //text-shadow: 2px 2px 2px rgba(0,0,0,0.004);
}

// Get rid of number spinner
input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

button.btn, a.btn {
  @include unselectable;
  &:focus,
  &:active {
    box-shadow: none !important;
  }
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
  &.loading[disabled] {
    opacity: 1;
  }
  &.btn-transparent:hover {
    background: $accent;
  }
  &.btn-icon {
    &:hover {
      color: $primary;
      background: $accent;
    }
    &.btn-icon-danger:hover {
      color: $danger;
      background: $accent;
    }
  }
  &.radio-btn {
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.4rem;
    color: $dark;
    &.chosen {
      cursor: default;
      .box .box-chosen {
        visibility: visible;
        opacity: 1;
      }
    }
    .box {
      min-width: 1em;
      height: 1em;
      border-radius: .15em;
      background: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: .3em;
      .box-chosen {
        min-width: .5em;
        height: .5em;
        border-radius: .1em;
        background: $primary;
        transition: all 100ms ease-in-out;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  &.filter-btn {
    color: $default;
    background: $secondary;
    position: relative;
    &.filter-btn-sm {
      font-size: 1rem;
      padding-top: .2em;
      padding-bottom: .2em;
      @include media-breakpoint-up(md) {
        font-size: 1.15rem;
      }
    }
    justify-content: flex-start;
    &[disabled] {
      opacity: 1;
    }
    &:not(.active):hover {
      background: $accent-dark;
    }
    &.active {
      color: $light;
      cursor: default;
      &.primary { background: $primary; }
      &.yellow    { background: $yellow; }
      &.pink    { background: $pink; }
      &.orange  { background: $orange; }
      &.green   { background: $green; }
      &.teal    { background: $teal; }
      &.purple  { background: $purple; }
      &.grey    { background: $medium; }
      &.red     { background: $red; }
    }
  }
  &.btn-x {
    z-index: 2;
    padding: 0;
    color: $accent-dark;
    background: transparent;
    height: 30px;
    i { font-size: 0.9rem; }
    &:hover {
      color: $red;
      background: transparent;
    }
  }
  &.btn-gradient {
    color: $light;
    transition: all 150ms ease-in-out;
    position: relative;
    &::after {
      border-radius: .25rem;
      background-image: linear-gradient(to right, $primary, $placeholder);
      content: '';
      z-index: -1;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
    &:hover::after {
      filter: brightness(85%);
    }
  }
  i {
    vertical-align: middle;
    &.btn-inner-icon {
      margin-right: .3em;
      font-size: .8em;
    }
    &.btn-inner-icon-lg {
      font-size: .9em;
      margin-right: .2em;
      width: 1.75em;
      text-align: center;
    }
  }
  &.scrollactive-active,
  &.router-link-active {
    cursor: default;
    pointer-events: none;
    color: $primary;
    background: $accent;  
  }
  &.btn-wide {
    width: 30rem;
  }
}

.pagination {
  font-weight: bold;
  font-size: 1.2rem;
}

i {
  &.icon-sm {
    font-size: .8rem;
  }
  &.icon-md {
    font-size: 1.1rem;
    width: 1.3rem;
  }
  &.icon-lg {
    font-size: 1.5rem;
    width: 1.25em;
  }
  &.icon-huge {
    font-size: 2.75rem;
  }
}

ul.item-list {
  list-style: none;
  font-size: 1.2rem;
  padding: 0 .5em;
  margin: 0;
  li {
    font-weight: bold;
    border-bottom: 1px solid $accent;
    padding: .3em .6em;
    position: relative;
    &:first-child {
      border-top: 1px solid $accent;
    }
    &.clickable {
      z-index: 1;
      cursor: pointer;
      transition: box-shadow 150ms ease-in-out,
                  border-radius 150ms ease-in-out;
      &:not(.active):hover {
        background: $accent;
        border-radius: $border-radius-sm;
      }
      &.active {
        z-index: 2;
        cursor: default;
        box-shadow: 0 0 0 .14em $primary;
        border-radius: $border-radius-sm;
        background: rgba($primary, .15);
      }
    }
    &.faded {
      color: $medium;
    }
    &.no-top-btm-border {
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

table {
  &.small-font {
    font-size: 1.2rem;
  }
  font-size: 1.4rem;
  font-family: 'CS ChatThai';
  font-weight: bold;
  width: 100%;
  .clickable {
    position: relative;
    &:not(.active):hover {
      cursor: pointer;
      background: $accent;
    }
  }
  thead {
    tr {
      background: $accent-light;
      white-space: nowrap;
    }
    th {
      position: sticky;
      z-index: 10;
      top: 0px;
      height: 40px;
      padding: 0.2em .55em;
      color: $medium;
      background: $accent-light;
      border-top: 1px solid $accent-dark;
      border-bottom: 1px solid $accent-dark;
      .shadow-th {
        position: absolute;
        bottom: 2px;
        left: -5px;
        right: -5px;
        height: 15px;
        box-shadow: 0 6px 5px -5px $default;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $accent;
      &:first-child td {
        padding-top: .45em;
      }
      td {
        color: $dark;
        padding: 0.3em .55em;
        &.small-font {
          font-size: .95em;
        }
      }
    }
  }
}

.form-group label {
  font-weight: bold;
  font-size: 1.3rem;
  color: $medium;
  line-height: 1.1em;
  &.label-sm {
    font-size: 1.05rem;
  }
  i {
    font-size: .5em;
    color: $primary;  
  }
  &.col-form-label {
    text-align: right;
    font-size: 1.3rem;
  }
  &.label-lg {
    font-size: 1.5rem;
    color: $dark;
  }
}

.page {
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: $titlebar-height-scrolled;
  padding-left: $outer-padding-sm;
  padding-right: $outer-padding-sm;
  @include media-breakpoint-up(lg) {
    padding-left: $outer-padding;
    padding-right: $outer-padding;
  }
  &.page-sm  { max-width: 1000px;  }
  &.page-md  { max-width: 1400px; }
  &.page-lg  { max-width: 1500px; }
  &.page-xl  { max-width: 1600px; }
  &.page-xxl { max-width: 2000px; }
}

.font-chatthai {
  font-family: 'CS ChatThai';
}
.font-cu {
  font-family: 'CHULALONGKORN';
}
.vertical-align-middle {
  vertical-align: middle;
}
.nowrap {
  white-space: nowrap;
}
.rotate {
  transform: rotate(180deg);
}
.flip-x {
  transform: scaleX(-1);
}
.pointer {
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: $titlebar-height;
}
.squeeze-line {
  line-height: 1.2em;
}
.pre-line {
  white-space: pre-line;
}
.pre {
  white-space: pre;
}
.squeeze-up {
  margin-top: -0.4em;
}
.no-pointer-events {
  pointer-events: none;
}

.subnav {
  height: $subnav-height;
  position: sticky;
  top: $titlebar-height-scrolled;
  z-index: 20;
  border-bottom: 1px solid $accent;
  @include backdrop-blur;
}

.content-height-min {
  min-height: $content-height;
}
.content-height-with-scroll {
  height: $content-height-with-scroll;
  min-height: $content-height-with-scroll;
  max-height: $content-height-with-scroll;
}
.content-height {
  height: $content-height;
  min-height: $content-height;
  max-height: $content-height;
}
.content-height-with-subnav {
  height: $content-height-with-subnav;
  min-height: $content-height-with-subnav;
  max-height: $content-height-with-subnav;
}
.fill-height {
  height: 100vh;
}

.border-b {
  border-bottom: 1px solid $accent;
}
.border-t {
  border-top: 1px solid $accent;
}
.border-r {
  border-right: 1px solid $accent;
}
.border-l {
  border-left: 1px solid $accent;
}
.border-b-md {
  border-bottom: 2px solid $accent;
}
.border-b-primary {
  border-bottom: 1px solid $primary;
}
.border-b-gradient {
  position: relative;
  &::before {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: linear-gradient(to right, $primary, $placeholder);
  }
}

.text-placeholder {
  color: $placeholder;
}

.hover-appear-wrapper {
  position: relative;
  .hover-appear {
    visibility: hidden;
  }
  &:hover .hover-appear {
    visibility: visible;
  }
}

.dropdown-option {
  @include dropdown-option;
  cursor: pointer;
  &:hover {
    background: $accent;
  }
}

.light-tag {
  @include unselectable;
  border-radius: $border-radius;
  padding: 0 .4em;
  display: inline-block;
  font-size: .95em;
  font-weight: bold;
  &.lg {
    font-size: 1.3em;
    //height: calc(1.5em + 0.5rem);
    @include input-btn-padding;
  }
  .small-square { vertical-align: middle; }
  &.primary { background: rgba($primary, .2); }
  &.pink    { background: rgba($pink, .2); }
  &.purple  { background: rgba($purple, .2); }
  &.grey    { background: rgba($medium, .2); }
  &.red     { background: rgba($red, .2); }
  &.green   { background: rgba($green, .2); }
  &.blue    { background: rgba($blue, .2); }
  &.orange  { background: rgba($orange, .2); }
  &.teal    { background: rgba($teal, .2); }
  &.blue    { background: rgba($blue, .2); }
  &.yellow    { background: rgba($yellow, .2); }
}

.subcontainer {
  border-radius: $border-radius;
  padding: 1em;
  background: $accent-light;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.fade-gradient-top {
  position: sticky;
  top: 0; left: 0; right: 1em;
  height: 20px;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    rgba($light, 1) 0%,
    rgba($light, 1) 5%,
    rgba($light, .9) 30%,
    rgba($light, .1) 100%
  );
}
.fade-gradient-bottom {
  position: sticky;
  bottom: -2px; left: 0; right: 1em;
  height: 25px;
  z-index: 10;
  background: linear-gradient(
    to top,
    rgba($light, 1) 0%,
    rgba($light, 1) 5%,
    rgba($light, .9) 30%,
    rgba($light, .1) 100%
  );
}

.hint {
  width: 25px;
  padding-top: 3px;
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
  right: 0.5em;
  top: 26px;
  cursor: pointer;
  i {
    color: $medium;
    margin-top: 0.45em;
  }
  &:hover {
    .hint-box { transform: scale(1); }
    i { color: $primary; }
  }
}
.hint-box {
  text-align: left;
  padding: 1em;
  z-index: 1000;
  position: absolute;
  transition: transform 100ms ease-in-out;
  transform: scale(0);
  background: $accent-light;
  border-radius: $border-radius;
  box-shadow: $drop-shadow;
}

.small-square {
  width: .7em;
  height: .7em;
  border-radius: $border-radius-sm;
  display: inline-block;
  vertical-align: middle;
  &.primary { background: $primary; }
  &.yellow { background: $yellow; }
  &.pink { background: $pink; }
  &.orange { background: $orange; }
  &.green { background: $green; }
  &.teal { background: $teal; }
  &.blue { background: $blue; }
  &.purple { background: $purple; }
  &.grey { background: $medium; }
  &.red { background: $red; }
}

.sidebar-nav {
  height: $content-height;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 16.5rem;
  /* @include media-breakpoint-up(xl) {
    width: 265px;
  } */
  a, button {
    text-align: left;
    margin-bottom: .65em;
  }
}
.sidebar-nav-content {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  @include media-breakpoint-up(xl) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  border-left: 1px solid $accent;
  flex: 1;
  &:last-child {
    padding-right: 0;
  }
}

.sticky-submenu {
  position: sticky;
  top: calc(#{$titlebar-height-scrolled} - 1px);
  @include backdrop-blur;
  height: 3rem;
  border-bottom: 1px solid $accent-dark;
  z-index: 20;
  //background: $light;
  //box-shadow: 0 5px 5px -5px #333;
}

.list-view {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    min-width: 375px;
  }
  @include media-breakpoint-up(xl) {
    min-width: 425px;
  }
  &.list-sticky {
    position: sticky;
    top: calc(#{$titlebar-height-scrolled} + #{$subnav-height});
  }
  &.list-sticky-no-subnav {
    position: sticky;
    top: $titlebar-height-scrolled;
  }
}

.row-header {
  color: $medium;
  background: $accent-light;
  border-top: 1px solid $accent-dark;
  border-bottom: 1px solid $accent-dark;
}

.test-row {
  &:not(:last-child) {
    border-bottom: 1px solid $accent;
    padding-bottom: .2em;
  }
  &:not(:first-child) {
    padding-top: .2em;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 100ms linear;
}
.fade-enter-active {
  transition-delay: 100ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-no-delay-enter-active,
.fade-no-delay-leave-active {
  transition: opacity 150ms linear;
}
.fade-no-delay-enter,
.fade-no-delay-leave-to {
  opacity: 0;
}

.modal {
  @include unselectable;
  @include backdrop-blur;
}