@font-face {
  font-family: 'CHULALONGKORN';
  src: url('./assets/CHULALONGKORN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CU';
  src: url('./assets/chulalongkornbold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CU';
  src: url('./assets/chulalongkornreg-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CS ChatThai';
  src: url('./assets/CSChatThai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: rgba($primary, .99); /* WebKit/Blink Browsers */
  color: $body-bg;
}
::-moz-selection {
  background: rgba($primary, .99); /* Gecko Browsers */
  color: $body-bg;
}

html {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}

#app {
  font-family: 'CHULALONGKORN', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-shadow: 2px 2px 2px rgba(0,0,0,0.004);
}

// Get rid of number spinner
input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

button.btn, a.btn {
  @include unselectable;
  * { vertical-align: middle; }
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
  &:focus, &:active {
    box-shadow: none !important;
  }
  &.btn-transparent:hover {
    background: $accent;
  }
  &.btn-icon {
    &:hover {
      color: $primary;
      background: $accent;
    }
    &.btn-icon-danger:hover {
        color: $danger;
        background: $accent;
    }
  }
  &.btn-x {
    z-index: 2;
    padding: 0;
    color: $accent-dark;
    background: transparent;
    height: 30px;
    i { font-size: 0.9rem; }
    &:hover {
      color: $primary;
      background: transparent;
    }
  }
  &.btn-gradient {
    color: $light;
    transition: all 150ms ease-in-out;
    position: relative;
    &::after {
      border-radius: .25rem;
      background-image: linear-gradient(to right, $primary, $placeholder);
      content: '';
      z-index: -1;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
    &:hover::after {
      filter: brightness(85%);
    }
  }
  i {
    &.btn-inner-icon {
      margin-right: .3em;
      font-size: .8em;
    }
    &.btn-inner-icon-lg {
      font-size: .9em;
      margin-right: .3em;
      width: 30px;
    }
  }
  &.scrollactive-active,
  &.router-link-active {
    cursor: default;
    pointer-events: none;
    color: $primary;
    background: $accent;  
  }
}

i {
  &.icon-sm {
    font-size: 1px;
  }
  &.icon-md {
    font-size: 1.25rem;
  }
  &.icon-lg {
    font-size: 1.5rem;
    width: 30px;
  }
}

ul.item-list {
  list-style: none;
  font-size: 1.5rem;
  padding: 0 .5em;
  margin: 0;
  li {
    font-weight: bold;
    border-bottom: 1px solid $accent;
    padding: .3em .6em;
    &:first-child {
      border-top: 1px solid $accent;
    }
    &.clickable {
      cursor: pointer;
      &:not(.active):hover {
        background: $accent;
        border-radius: $border-radius-lg;
      }
      &.active {
        cursor: default;
        box-shadow: 0 0 0 .12em $primary inset;
        border-radius: $border-radius-lg;
        background: rgba($primary, .15);
      }
    }
  }
}

table {
  font-size: 1.4rem;
  font-family: 'CS ChatThai';
  font-weight: bold;
  width: 100%;
  .clickable:not(.active):hover {
    cursor: pointer;
    background: $accent;
  }
  thead {
    th {
      position: sticky;
      top: 0px;
      height: 50px;
      background: $light;
      padding-left: 0.4em;
      padding-right: 0.4em;
      .shadow-th {
        position: absolute;
        bottom: 2px;
        left: -5px;
        right: -5px;
        height: 15px;
        box-shadow: 0 6px 5px -5px $default;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $accent;
      &:first-child td {
        padding-top: .4em;
      }
      td {
        color: $dark;
        padding: 0.3em 0.55em;
      }
    }
  }
}

.form-group label {
  font-weight: bold;
  font-size: 1.25rem;
  color: $medium;
  line-height: 1.1em;
  i {
    font-size: 14px;
    color: $primary;  
  }
  &.col-form-label {
    text-align: right;
    font-size: 1.3rem;
  }
  &.label-lg {
    font-size: 1.5rem;
    color: $dark;
  }
}

.page {
  position: relative;
  width: 100%;
  padding-top: $titlebar-height;
  padding-left: $outer-padding-sm;
  padding-right: $outer-padding-sm;
  @include media-breakpoint-up(lg) {
    padding-left: $outer-padding;
    padding-right: $outer-padding;
  }
  &.page-sm { max-width: 750px; }
  &.page-md { max-width: 1300px; }
  &.page-lg { max-width: 1500px; }
  &.page-xl { max-width: 1650px; }
  &.page-xxl { max-width: 2000px; }
}
.flex-1 {
  flex: 1;
}
.font-chatthai {
  font-family: 'CS ChatThai';
}
.vertical-align-top {
  vertical-align: top;
}
.nowrap {
  white-space: nowrap;
}
.rotate {
  transform: rotate(180deg);
}
.flip-x {
  transform: scaleX(-1);
}
.pointer {
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: $titlebar-height;
}
.squeeze-line {
  line-height: 1.2em;
}
.pre-line {
  white-space: pre-line;
}
.pre {
  white-space: pre;
}
.squeeze-up {
  margin-top: -0.4em;
}
.no-pointer-events {
  pointer-events: none;
}
.content-height {
  height: $content-height;
  min-height: $content-height;
  max-height: $content-height;
}
.overflow-visible {
  overflow: visible;
}
.fill-height {
  height: 100vh;
}

.border-bottom-pink {
  border-bottom: 2px solid $primary;
}
.border-bottom-lighter {
  border-bottom: 1px solid $accent;
}
.border-top-lighter {
  border-top: 1px solid $accent;
}
.border-bottom-light {
  border-bottom: 2px solid $accent;
}
.border-bottom-medium {
  border-bottom: 2px solid $accent;
}
.border-right-lighter {
  border-right: 1px solid $accent;
}
.border-left-lighter {
  border-left: 1px solid $accent;
}
.thick-border-bottom-gradient {
  position: relative;
  &::before {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: linear-gradient(to right, $primary, $placeholder);
  }
}

.hover-appear-wrapper {
  .hover-appear {
    visibility: hidden;
  }
  &:hover .hover-appear {
    visibility: visible;
  }
}

.subcontainer {
  border-radius: $border-radius;
  padding: 1em;
  background: $accent-light;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}


.fade-gradient-top {
  position: sticky;
  top: 0; left: 0; right: 1em;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgba($light, 1) 0%,
    rgba($light, 1) 5%,
    rgba($light, .9) 30%,
    rgba($light, .1) 100%
  );
}
.fade-gradient-bottom {
  position: sticky;
  bottom: -2px; left: 0; right: 1em;
  height: 25px;
  background: linear-gradient(
    to top,
    rgba($light, 1) 0%,
    rgba($light, 1) 5%,
    rgba($light, .9) 30%,
    rgba($light, .1) 100%
  );
}

.sidebar {
  width: 275px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 95px;
  margin-right: 15px;
  transition: width 100ms linear;
  white-space: nowrap;
  overflow: hidden;
  .content {
    transition: opacity 100ms ease-in-out;
    padding-right: .5em;
    padding-left: .5em;
  }
  &.folded {  
    width: 40px;
    .content { opacity: 0; }
  }
  .fold-btn {
    width: 40px;
    i { transition: 250ms ease-in-out; }
  }
}

.hint {
  width: 25px;
  padding-top: 3px;
  position: absolute;
  right: 0.5em;
  top: 26px;
  cursor: pointer;
  i {
    color: $medium;
    margin-top: 0.45em;
  }
  &:hover {
    .hint-box {
      transform: scale(1);
    }
    i { color: $primary; }
  }
}
.hint-box {
  text-align: left;
  padding: 1em;
  z-index: 1000;
  position: absolute;
  transition: transform 100ms ease-in-out;
  transform: scale(0);
  background: $accent-light;
  border-radius: $border-radius;
  box-shadow: $drop-shadow;
}

.small-square {
  width: .7em;
  height: .7em;
  display: inline-block;
  border-radius: $border-radius-sm;
  &.primary { background: $primary; }
  &.pink { background: $pink; }
  &.orange { background: $orange; }
  &.green { background: $green; }
  &.teal { background: $teal; }
  &.blue { background: $blue; }
  &.purple { background: $purple; }
  &.grey { background: $medium; }
  &.red { background: $red; }
}

.light-tag {
  border-radius: $border-radius;
  padding: 0 .4em;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  &.lg {
    font-size: 1.5rem;
    padding: .1em .6em;
  }
  * { vertical-align: middle; }
  &.primary { background: rgba($primary, .2); }
  &.pink { background: rgba($pink, .2); }
  &.purple { background: rgba($purple, .2); }
  &.grey { background: rgba($medium, .2); }
  &.red { background: rgba($red, .2); }
  &.green { background: rgba($green, .2); }
  &.blue { background: rgba($blue, .2); }
  &.orange { background: rgba($orange, .2); }
  &.teal { background: rgba($teal, .2); }
  &.blue { background: rgba($blue, .2); }
}


.filter-btn {
  color: $default;
  background: $secondary;
  position: relative;
  padding-top: .2em;
  padding-bottom: .2em;
  vertical-align: center; 
  &:not(.active):hover {
    background: $accent-dark;
  }
  &.active {
    color: $light;
    cursor: default;
    &.primary { background: $primary; }
    &.pink { background: $pink; }
    &.orange { background: $orange; }
    &.green { background: $green; }
    &.teal { background: $teal; }
    &.purple { background: $purple; }
    &.grey { background: $medium; }
    &.red { background: $red; }
  }
  .filter-btn-filler {
    width: 1.3em;
    font-size: 0.8em;
    display: inline-block;
  }
}

.sub-nav {
  height: $content-height;
  padding: 1rem 1.75rem 1rem 0;
  width: 300px;
  a, button {
    text-align: left;
    margin-bottom: .75em;
  }
}
.sub-nav-content {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 1px solid $accent;
  flex: 1;
  &:last-child {
    padding-right: 0;
  }
}

.test-row {
  &:not(:last-child) {
    border-bottom: 1px solid $accent;
    padding-bottom: 5px;
  }
  &:not(:first-child) {
    padding-top: 5px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 100ms linear;
}
.fade-enter-active {
  transition-delay: 100ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-no-delay-enter-active, .fade-no-delay-leave-active {
  transition: opacity 150ms linear;
}
.fade-no-delay-enter, .fade-no-delay-leave-to {
  opacity: 0;
}

.modal {
  @include unselectable;
  backdrop-filter: blur(20px);
}