
@font-face {
  font-family: 'CHULALONGKORN';
  src: url('./assets/CHULALONGKORN-Regular.woff2') format('woff2'),
      url('./assets/CHULALONGKORN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: rgba(190,88,119,.99); /* WebKit/Blink Browsers */
  color: $bg;
}
::-moz-selection {
  background: rgba(190,88,119,.99); /* Gecko Browsers */
  color: $bg;
}

html {
  font-size: 17px;
  @media only screen and (max-width: 768px) {
    font-size: 15px;
  }
}

body {
  font-family: 'CHULALONGKORN', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: 'CHULALONGKORN', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  &:focus:not(:active) {
    box-shadow: none !important;
    outline: none !important;
  }
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &:active {
    box-shadow: none !important;
    outline: none !important;
  }

}

button.custom, a.button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  font-size: 1.25rem;
  padding: 0.2em 0.4em;
  transition: all 50ms ease-in-out;
  font-weight: bold;
  color: $text;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $text ;
    background: $grey;
  }
  &.pink {
    color: $bg;
    background: $chula;
    &:hover {
      background: $chula-dark;
    }
  }
  &.grey {
    color: $text;
    background: $grey;
    &:hover {
      background: $chula;
      color: $bg;
    }
  }
  &.md {
    font-size: 1.1rem;
    min-width: 85px;
  }
  &.lg {
    font-size: 1.3rem;
    min-width: 125px;
  }
}

.left-margin {
  margin-left: calc(100px + 3vw);
}

.col-form-label {
  text-align: right;
  font-weight: bold;
}

input.form-control, textarea.form-control {
  transition: all 50ms ease-in-out;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.15em 0.5em 0em 0.5em;
  color: $text;
  border-radius: 5px;
  border: 2.5px solid transparent;
  background: $grey;
  &:focus:not(:active) {
    box-shadow: none;
    outline: none;
  }
  &:focus {
    border: 2.5px solid $chula;
    background: $grey;
    box-shadow: none;
    outline: none;
  }
  &:active {
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    color: #A7A7A7;
  }
}

textarea {
  &.form-control {
    line-height: 1em;
    padding: 0.5em;
  }
}

label.form-label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  font-weight: bold;
  font-size: 1.2rem;
  color: $dark-grey;
}

.form-group {
  width: 100%;
}

.h-line {
  border-bottom: 2px solid $chula;
  &.grey {
    border-bottom: 2px solid $grey;
  }
}

.h-line-grey {
  border-bottom: 1px solid $grey;
  width: 70%;
  min-width: 400px;
}

.dummy-img {
  width: 45vw;
  min-width: 500px;
  max-width: 700px;
  height: auto;
}

.modal-content {
  //background-color: rgba(#ffffff, 0.5) !important;
  border: 0px solid transparent !important;
  backdrop-filter: blur(15px);
  .modal-header, .modal-footer {
    border-style: none !important;
  }
}